.header {
  background-color: var(--green-2);
  border-bottom: 4px solid var(--green-0);
  padding: 16px;
}

.imgContainer {
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
}
