.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white-1);
}
.container {
  width: 1280px;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: fit-content;
}

.container ul {
  background-color: var(--gray-1);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
  height: fit-content;
}

.container ul > h2 {
  padding: 32px 16px;
  background-color: var(--white-1);
  border-radius: 16px;
  font-size: 20px;
  text-align: center;
  color: var(--gray-2);
}

.container ul li:first-child {
  display: flex;
  gap: 8px;
}

@media (min-width: 720px) {
  .container {
    flex-direction: row;
    gap: 12px;
    max-height: fit-content;
  }

  .container ul {
    margin-top: 48px;
    min-width: 400px;
    width: 70%;
  }
}

@media (min-width: 1080px) {
  .container ul {
    width: 75%;
  }
}
