.card {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 2px solid var(--white);
  border-radius: 8px;
  color: var(--green-0);
  background-color: var(--white-2);
}

.card > div {
  border-right: 2px solid var(--white);
  min-height: fit-content;
  width: 100%;
  padding-right: 8px;
  color: var(--white);
}

.card > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.card input {
  min-width: 20px;
  min-height: 20px;
  width: 22px;
  height: 22px;
  accent-color: var(--green-3);
  cursor: pointer;
}

.card label {
  min-width: 20px;
  min-height: 20px;
  width: 22px;
  height: 22px;
}

.card h2 {
  font-size: 16px;
  font-weight: 500;
}

.card p {
  font-size: 13px;
}

.card button {
  background-color: transparent;
  border: none;
  opacity: 0.9;
  margin: 0;
}

.card button:hover {
  opacity: 1;
}

.isDone {
  text-decoration: line-through;
}
